*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  background: rgb(1, 101, 196);
  background: linear-gradient(
    306deg,
    rgba(1, 101, 196, 1) 0%,
    rgba(1, 47, 105, 1) 50%
  );
  background-repeat: no-repeat;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  background-color: #fff;
  width: 60rem;
  padding: 4rem 0;
  margin: 3rem auto;
  border-radius: 4rem;
}

.header {
  margin-bottom: 3rem;
}

.counter {
  font-size: 3.6rem;
  border: 3px solid #333;
  margin: 4rem auto;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-holder {
  margin-bottom: 4rem;
}

.btn {
  font-size: 1.4rem;
  border-radius: 5px;
  margin: 0 1rem;
  padding: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-green {
  color: #fff;
  background-color: #008000;
}

.btn-green:hover {
  background-color: #025e02;
}

.btn-red {
  color: #fff;
  background-color: #ff0000;
}

.btn-red:hover {
  background-color: #d60000;
}

.black {
  color: #333;
}

.green-text {
  color: #008000;
}

.red-text {
  color: #ff0000;
}

.green-border {
  border-color: #008000;
}

.red-border {
  border-color: #ff0000;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3.5rem;
}

.settings div {
  background-color: #eee;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
}

.settings label {
  width: 5rem;
  text-align: left;
  display: inline-block;
}

.settings input {
  padding: 8px 0;
  border: none;
  width: 6rem;
  text-align: center;
  border-radius: 3px;
}
